body {
	margin: 0;
	padding: 0;
	font-family:"Noto Sans JP", "Yu Gothic", YuGothic, "ƒqƒ‰ƒMƒmŠpƒS Pro", "Hiragino Kaku Gothic Pro", "ƒƒCƒŠƒI", "Meiryo", sans-serif;
	font-size:16px;
	line-height:180%;
	color: #000;
	min-width:1366px;
	-webkit-text-size-adjust: 100% ;/* iPhoneƒtƒHƒ“ƒgƒTƒCƒYŠg‘å‘Îô */
}
body.b-hide { overflow: hidden; }
img {
	border: none;
	vertical-align:bottom;
}
div, p, ul, ul li, h1, h2, h3, h4, h5, dl, dt, dd {
	font-size:100%;
	margin: 0;
	padding: 0;
	list-style:none;
	box-sizing:border-box;
}
div, p, ul, ul li, h1, h2, h3, h4, h5, dl, dt, dd, ol, ol li, table, th, td {
	background-image:url(../image/spacer.gif); /* Androidƒy[ƒW‚ÌP—v‘f‚ÌŒ„ŠÔ‘Îô */
}
a:link {color:#06F; outline:none; }
a:visited {color:#06F;}
a:hover {color: #333;}
a:hover img { opacity: 0.7; filter: alpha(opacity=70); -moz-opacity: 0.7;}
#wrapper {}
#base {}

.pc {display:block;}
.sm {display:none;}

/*====================================================================================================
  HEADER
====================================================================================================*/

#header { clear:both; width:100%; position: sticky; left:0; top:0; background: #fff; z-index: 980; color: #4D4F5C; }
#header .head {
	clear: both;
	display: block;
	padding: 20px 2.3% 25px 3.7%;
	box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
}
#header .head::after { clear: both; content: ""; display: block; }

#header .head .search_box { position: relative; }
#header .head .search_box form { position: relative; }
#header .head .search_box button {
	background: none;
	border: none;
	position: absolute;
	left: 2px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
#header .head .search_box input.search { 
	border: 1px solid #A8A8A8;
	padding: 10px 30px;
	border-radius: 4px;
	cursor: pointer;
}
#header .head .search_box input.search::placeholder { color: #BCBCCB; font-size: 87.5%; }

#header .head .head-l { float: left; display: flex; }
#header .head .head-l .search_box input { width: 283.5px; }
#header .head .head-l .search_box ul.search_list {
	display: none;
	position:absolute;
	left:0;
	top: 40px;
	background:rgba(6, 6, 6, 0.84);
	color:#FFF;
	width:100%;
	line-height: 130%;
	cursor: pointer;
	z-index: 9;
}
#header .head .head-l .search_box ul.search_list::before {
	content: "";
	position:absolute;
	top:-9.5px;
	right:7px;
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 7.5px 10px 7.5px;
	border-color: transparent transparent rgba(6, 6, 6, 0.84) transparent;
}
#header .head .head-l .search_box ul.search_list li { padding: 10px 15px; }
#header .head .head-l .search_box ul.search_list li.active,
#header .head .head-l .search_box ul.search_list li:hover { background: #FCB784; }

#header.user_list-head .head .head-l .search_box ul.search_list li.active,
#header.user_list-head .head .head-l .search_box ul.search_list li:hover { background: #00A4B4; }

#header .head .head-r { float: right; display: flex; padding-top: 5px; }

#header .head .head-r .box1 { margin-right: 8px; font-size: 87.5%; }

#header .head .head-r .box2 { position: relative; }
#header .head .head-r .box2 .switch_btn {
	font-size: 87.5%;
	color: #818181; 
	border: 1px solid #E8E9EC;
	border-radius: 4px;
	width: 100px;
	height: 32px;
	display: block;
	padding-left: 12px;
	background: #F9F9F9 url(../image/arrow_down2.png) no-repeat 92% center;
	cursor: pointer;
}
#header .head .head-r .box2 .switch_box {
	position: absolute;
	top: 33px;
	right: 0;
	width: 358px;
	background: rgba(0, 0, 0, .30);
	border-radius: 5px;
	padding: 10px;
	display: none;
	z-index: 99;
}
#header .head .head-r .box2 .switch_box::after {
	content: "";
	position: absolute;
	top: -7px;
	right: 4px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(0, 0, 0, .30);
}
#header .head .head-r .box2 .switch_box .search_box { margin-bottom: 10px; }
#header .head .head-r .box2 .switch_box .search_box input { width: 100%; border: 1px solid #A8A8A8; border-radius: 5px; padding: 10px 30px; cursor: pointer; }
#header .head .head-r .box2 .switch_box .search_box ul.user_switch { 
	display: none; 
	position: absolute;
	top: 35px;
	left: 0;
	right: 0;
	margin: auto;
	background: #fff;
	border: 1px solid #A8A8A8;
}
#header .head .head-r .box2 .switch_box .search_box ul.user_switch li { padding: 5px 15px; cursor: pointer; font-weight: 400; font-size: 87.5%; }
#header .head .head-r .box2 .switch_box .search_box ul.user_switch li.active,
#header .head .head-r .box2 .switch_box .search_box ul.user_switch li:hover {
	background: #E6E6E6;
}
#header .head .head-r .box2 .switch_box .switch_box-i select { 
	width: 100%; 
	appearance:none; 
	background: #FFF url(../image/arrow_down2.png) no-repeat 97% center;
	border: 1px solid #A8A8A8;
	border-radius: 4px;
	padding: 10px;
	color: #BCBCCB;
	cursor: pointer;
}
#header .head .head-r .box2 .switch_box .switch_box-i select option { color: #000; }

#header .head .head-r .box3 { display: flex; height: 28px; position: relative; }
#header .head .head-r .box3 .num2 { 
	font-size: 81.3%; 
	padding: 0 10px 0 15px; 
	border-right: 1px solid #EBEBF2;
}
#header .head .head-r .box3 .acct_log {
	background: url(../image/arrow_down2.png) no-repeat right center;
	padding: 0 15px;
	cursor: pointer;
	font-size: 87.5%; 
	font-family: "Meiryo";
}
#header .head .head-r .box3 .acct_box {
	position: absolute;
	right: 0;
	top: 35px;
	width: 140px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, .15);
	font-size: 87.5%;
	font-weight: 400;
	color: #818181;
	padding: 0 10px;
	z-index: 99;
	display: none;
}
#header .head .head-r .box3 .acct_box ul li { text-align: center; padding: 5px 0; letter-spacing: -.2em; }
#header .head .head-r .box3 .acct_box ul li:nth-child(2) { border-top: 1px solid #EBEBF2; background: url(../image/icon_lock.png) no-repeat 7% center; }
#header .head .head-r .box4 {  border-left: 1px solid #EBEBF2; padding-left: 8px; margin-left: 15px; position: relative; }
#header .head .head-r .box4 .notif_bell { line-height: 100%; cursor: pointer; }
#header .head .head-r .box4 .notif_bell:hover { opacity: 0.7; }
#header .head .head-r .box4 .notif_cont {
	width: 270px;
	height: 132px;
	position: absolute;
	right: 0;
	top: 45px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, .15);
	z-index: 9;
	padding: 20px;
	font-size: 87.5%;
	font-weight: 400;
	color: #818181;
	display: none;
}
#header .head .head-r .box3 .acct_box::before,
#header .head .head-r .box4 .notif_cont::before {
	content: "";
  position: absolute;
  top: -11px;
  right: 7px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 10px 7.5px;
  border-color: transparent transparent rgba(0, 0, 0, .10) transparent;
}
#header .head .head-r .box3 .acct_box::after,
#header .head .head-r .box4 .notif_cont::after {
	content: "";
	position: absolute;
  top: -10px;
  right: 7px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 10px 7.5px;
  border-color: transparent transparent #fff transparent;
}


/*** LOGO ******************************************************************/
#header h1,
#header h1 a { display: block; width:182px; height:32px; }
#header h1 { text-align: center; text-decoration: none; margin: 2px 12px 0 0;}
#header h1 a {
	
	text-indent: -9999px;
	background: url(../image/logo.png) no-repeat;
	
}

/*** NAVIGATION LIST ************************************************************/
#Nav {
	background: #43425D;
	width: 275px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	overflow: auto;
  transform: translateX(-300px);
  transition: transform 250ms ease-in-out;
  padding-bottom: 65px;
}
#Nav ul li a { 
	color: #fff; 
	display: block;
	text-decoration: none;
	padding: 10px 30px 10px 55px;
	font-size: 93.8%;
	position: relative;
}
#Nav ul li div.list1,
#Nav ul li div.list2 { display: block; color: #fff; font-size: 93.8%; padding: 10px 30px 10px 45px; position: relative; cursor: pointer; }
#Nav ul li div.list1 { background: #43425D url(../image/arrow_down2.png) no-repeat 95% center; border-bottom: 1px solid #63617E; }
#Nav ul li div.list1::before {
	content: "";
	position: absolute;
	left: 13px;
	top: 50%;
	transform: translateY(-50%);
}
#Nav ul li#nav1 div.list1::before { background: url(../image/icon_customers.png) no-repeat center; background-size: 100%; width: 14px; height: 16px; }
#Nav ul li#nav2 div.list1::before { background: url(../image/icon_group.png) no-repeat center; background-size: 100%; width: 16px; height: 14px; }
#Nav ul li#nav3 div.list1::before { background: url(../image/icon_setting.png) no-repeat center; background-size: 100%; width: 16px; height: 16px; }
#Nav ul li#nav4 div.list1::before { background: url(../image/icon_base-data.png) no-repeat center; background-size: 100%; width: 18px; height: 16px; }

#Nav ul li ul { display: none; }
#Nav ul li ul li div { background: #63617E; border-bottom: 1px solid #43425D; }
#Nav ul li ul li div.list2 { background: #63617E url(../image/arrow_down2.png) no-repeat 95% center; padding-left: 55px; }
#Nav ul li ul li ul li div { background: #9896AE; border-bottom: 1px solid #43425D; }
#Nav ul li ul li ul li a {padding-left: 70px; }

#Nav ul li div.active { background: #43425D url(../image/arrow_up.png) no-repeat 95% center; }
#Nav ul li ul li div.active { background: #8F8DAA url(../image/arrow_up.png) no-repeat 95% center; }

#Nav ul li ul a:hover { opacity: 0.7; }


/*** NAVIGATION BUTTON ************************************************************/
.menu_btn {
	text-orientation: upright;
	text-align: center;
	font-family: "Meiryo";
	font-size: 100%;
	font-weight: 700;
	line-height: 150%;
	padding: 14px 12px;
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 0 8px 8px 0;	
	background: #00A4B4;
	color: #fff;
	width: 40px;
	height: 125px;
	z-index: 99999;
}
.menu_btn.lght-grn,
input.openNav[type="checkbox"]:checked ~ .navIconToggle.orn { background: #3FBAC6; }
input.openNav[type="checkbox"]:checked ~ #Nav { transform: translateX(0); }
input.openNav[type="checkbox"] {
	transition: all 0.3s;
	box-sizing: border-box;
	display: none;
}

.navIconToggle {
	transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
}
.navIconToggle .spinner {
	transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
  display: none;
}
.navIconToggle .horizontal {
	transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.navIconToggle .diagonal.part-1 {
	position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.navIconToggle .diagonal.part-2 {
	transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input.openNav[type="checkbox"]:checked ~ .navIconToggle {
	left: 275px;
	background: #00A4B4;
	width: 49px;
	height: 44px;
	padding: 13px 15px 15px;
}
input.openNav[type="checkbox"]:checked ~ .navIconToggle > .menu_btn {
	display: none;
}
input.openNav[type="checkbox"]:checked ~ .navIconToggle > .spinner {
	display: block;
}
input.openNav[type="checkbox"]:checked ~ .navIconToggle > .horizontal {
	transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input.openNav[type="checkbox"]:checked ~ .navIconToggle > .diagonal.part-1 {
	transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input.openNav[type="checkbox"]:checked ~ .navIconToggle > .diagonal.part-2 {
	transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}





/*====================================================================================================
  CONTENT
====================================================================================================*/

#content { clear:both; width:100%; }


/*** PAGER *******************************************************************/
#pager { 
	display: flex; 
	justify-content: center; 
	margin: 45px 0 63px; 	
}
#pager div {
	width: 25.8px;
	height: 25.8px;
	border-radius: 50%;
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.08);
	text-align: center;
	color: #C7C8C9;
	font-size: 75%;
	cursor: pointer;
	margin: 3px 5px;
}
#pager div.active {
	width: 34.41px;
	height: 34.41px;
	border: 1px solid;
	color: #A5C9FF;
	font-size: 87.5%;
	margin-top: 0;
}


/*====================================================================================================
  FOOTER
====================================================================================================*/

#footer { padding: 20px 0; width:100%; text-align:center; }
#footer .copy {	font-size: 75%;	color: #43425D; font-family: "Source Sans Pro"; }



/*====================================================================================================
  PAGE
====================================================================================================*/

#page,
#page a { display:block; width:51px; height:51px;}
#page { position: fixed; bottom:130px; right: 20px; z-index: 99; }
#page a {
	text-indent: -9999px;
	background:#444 url(../image/page_top.png) no-repeat;
}


/*====================================================================================================
  COLOR eto.. [No Touch]
====================================================================================================*/
.light-blue { color: #40A6DD;}
.blue { color: #0000FF;}
.dark-blue { color: #000099;}
.purple { color: #660099;}
.pink { color: #FF6699;}
.red { color: #FF0000;}
.orange { color: #FF6600;}
.yellow { color: #FFCC00;}
.white { color: #FFFFFF;}
.gray { color: #666666;}
.brown { color: #663300;}
.green { color: #339900;}
.italic { font-style: italic;}
.strong { font-weight: bold;}
.large { font-size: 115%; line-height: 140%;}
.small { font-size: 80%;}
.underline { text-decoration: underline;}
.line-through { text-decoration: line-through;}
.left { text-align: left;}
.center { text-align: center;}
.right { text-align: right;}